{% extends 'layout_base.html' %}

{% block bloqueQueCambia %}

    <p>Estamos buscando las agencias con nombre: <strong>{{rsoc}}</strong></p>

    
    {% if ags %}
    
    <ul>
    {% for a in ags %}
        <li> <b style="background-color:rgb(148, 210, 238) ;">Agencia: </b><b style="color: black ;">{{a.rsoc}}</b> / <b style="background-color:rgb(148, 210, 238) ;">Zona:</b><strong> {{a.zona}}</strong></li>
        
    {% endfor %}

    
    {% else %}

        <p>No hubo coincidencias</p>        

    </ul>
    {% endif %}
        

{% endblock bloqueQueCambia %}
